/* HERO */
.hero {
  background: linear-gradient(to right, #A9D6E5, #EBD4F0);
  padding: 3em 2em;
  text-align: center;
}
.hero h1 {
  font-size: 2.8em;
  margin-bottom: 0.2em;
}
.slogan {
  font-size: 1.2em;
  color: #444;
}

/* SECCIÓN QUIÉNES SOMOS */
.quienes-somos {
  padding: 2em;
  max-width: 800px;
  margin: auto;
  text-align: center;
}
.quienes-somos h2 {
  font-size: 1.8em;
  margin-bottom: 0.5em;
}

/* BOTONES INICIO */
.inicio-botones {
  text-align: center;
  margin: 2em;
}
.boton {
  background-color: #7E6CAB;
  color: white;
  padding: 12px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin: 0 1em;
}

/* ÁREA CLIENTE */
.busqueda {
  padding: 2em;
  text-align: center;
}
.busqueda input {
  padding: 10px;
  width: 250px;
}
.busqueda button {
  padding: 10px;
  margin-left: 10px;
}
#resultado {
  margin-top: 1em;
  font-weight: bold;
}
.carrito-resumen {
  background-color: #EBD4F0;
  margin: 2em auto;
  padding: 1em;
  max-width: 400px;
  border-radius: 10px;
}
